{% extends("::base.html.twig") %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/enficienciasdoambientesite/css/style.css') }}" />
{% endblock stylesheets %}

{% block body %}

<div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{ path('_home') }}">Início</a></li>
          <li><a href="{{ path('_about') }}">Sobre</a></li>
          {% if is_granted('ROLE_USER') %}
          <li><a href="{{ path('_user') }}">Área restrita</a></li>
          <li><a href="{{ path('_logout') }}">Desconectar</a></li>
          {% else %}
          <li><a href="{{ url("hwi_oauth_service_redirect", {service: "facebook", destination: "_user"}) }}">Entrar via Facebook</a></li>
          {% endif %}
        </ul>
        <a href="{{ path('_home') }}">
        <img src="{{ asset('bundles/enficienciasdoambientesite/images/logo-reciclala.png') }}" />
        </a>
      </div>

{% block content %}{% endblock content %}

      <div class="footer">
        <p>&copy; 2014 Recicla Lá</p>
      </div>

    </div> <!-- /container -->

{% endblock body %} 
