{% extends("::base.html.twig") %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/enficienciasdoambientesite/css/style.css') }}" />
{% endblock stylesheets %}

{% block body %}

<div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{ path('_home') }}">Início</a></li>
          <li><a href="{{ path('_map') }}">Pontos de Coleta</a></li>
          {% if is_granted('ROLE_USER') %}
          <li><a href="{{ path('_user') }}">Área restrita</a></li>
          <li><a href="{{ path('_logout') }}">Desconectar</a></li>
          {% else %}
          <li><a href="{{ url("hwi_oauth_service_redirect", {service: "facebook", destination: "_user"}) }}">Entrar via Facebook</a></li>
          {% endif %}
        </ul>
        <img src="{{ asset('bundles/enficienciasdoambientesite/images/logo-reciclala.png') }}" />
      </div>

{% block content %}{% endblock content %}

      <div class="footer">
        <p>&copy; 2014 Cesar Rabahi, Diego Costa, Fernando Tateno, Filipe Hori, Rafael Santos. Projeto realizado por alunos de graduação em Engenharia Física para a disciplina Ciências do Ambiente para Engenharia Física, do Departamento de Hidrobiologia da Universidade Federal de São Carlos.</p>
        {{ render(controller('EnfiCienciasDoAmbienteCommonEntitiesBundle:Util:gitVersion')) }}
      </div>

    </div> <!-- /container -->

{% endblock body %} 
