{% extends("EnfiCienciasDoAmbienteCommonEntitiesBundle::base.html.twig") %}

{% block content -%}
    <h1>Exibir Ponto de Coleta</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.idFixo }}</td>
            </tr>
            <tr>
                <th>Revisão</th>
                <td>{{ entity.revision }}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{{ entity.ativo }}</td>
            </tr>
            <tr>
                <th>Endereço</th>
                <td>{{ entity.endereco }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ entity.telefone }}</td>
            </tr>
            <tr>
                <th>Horário de funcionamento</th>
                <td>{{ entity.horarioDeFuncionamento }}</td>
            </tr>
            <tr>
                <th>Informações adicionais</th>
                <td>{{ entity.informacoesAdicionais }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ entity.longitude }}</td>
            </tr>
            <tr>
                <th>Usuário</th>
                <td>{{ entity.usuarioId }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ entity.timestamp|date('d/m/Y h:m') }}</td>
            </tr>
            <tr>
                <th>Descrição das modificações</th>
                <td>{{ entity.descricaoDasModificacoes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manage_pontodecoleta') }}" class="btn btn-info"> Cancelar </a>
    <a href="{{ path('manage_pontodecoleta_edit', { 'id': entity.id }) }}" class="btn btn-info"> Alterar </a>
    {{ form(delete_form) }}
</ul>
{% endblock %}
