{% extends("EnfiCienciasDoAmbienteSiteBundle::base.html.twig") %}


{% block head %}

    <style type="text/css">
      #map-canvas { width: 100%; height: 500px }
    </style>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6lKObk5KuFvWH32gmRLvApsUbkRGVZAU">
    </script>

    <script type="text/javascript">

    function initialize() {

      var map = new google.maps.Map(document.getElementById("map-canvas"), {
        center: new google.maps.LatLng(-21.984, -47.881),
        zoom: 15,
        mapTypeId: 'roadmap'
      });
      var infoWindow = new google.maps.InfoWindow;

      google.maps.event.addListener(map, "click", function(event) {
        infoWindow.close();
      });

      geocoder = new google.maps.Geocoder();
      geocoder.geocode(
        {
            'address': '{{ encontrarPontoDeColeta.endereco }}, Brasil',
        },
        function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                icon: '{{ asset('bundles/enficienciasdoambientesite/images/icon-man.png') }}'
            });
            loadMarkers(map, infoWindow, results[0].geometry.location.lat(), results[0].geometry.location.lng());
          }
      });

    }

    google.maps.event.addDomListener(window, 'load', initialize);

    function loadMarkers(map, infoWindow, lat, lng) {

      // Marca os limites do mapa, para poder dar zoom, conforme adiciona-se markers
      var bounds = new google.maps.LatLngBounds();
      var user_position = new google.maps.LatLng(
          parseFloat(lat),
          parseFloat(lng)
      )
      bounds.extend(user_position);

      // Recupera lista de pontos de coleta
      jQuery.getJSON(
        '{{ path('api.pontos_de_coleta') }}?lat=' + lat + '&lng=' + lng + '&dist_max={{ encontrarPontoDeColeta.distancia_maxima }}&tipo_lixo={{ encontrarPontoDeColeta.tipoDeLixo.id }}',
        null,
        function(data, textStatus) {
            var markers = data;
            for (var i = 0; i < markers.length; i++) {
              var marker_position = new google.maps.LatLng(
                  parseFloat(markers[i].lat),
                  parseFloat(markers[i].long)
              )
              bounds.extend(marker_position);
              var html = "<h3>" + markers[i].nome + "</h3><ul><li><b>Endereço:</b> " + markers[i].endereco + "</li><li><b>Telefone:</b> " + markers[i].telefone  + "</li><li><b>Horário de funcionamento:</b> " + markers[i].horarioDeFuncionamento + "</li><li><b>Informações adicionais:</b> " + markers[i].informacoesAdicionais + "</ul><small style='color:gray'>(ID #" + markers[i].idFixo + ")</small>";
              var marker = new google.maps.Marker({
                map: map,
                position: marker_position,
                icon: 'http://mt.google.com/vt/icon?psize=30&font=fonts/arialuni_t.ttf&color=ff304C13&name=icons/spotlight/spotlight-waypoint-a.png&ax=43&ay=48&text=%E2%80%A2'
              });
              bindInfoWindow(marker, map, infoWindow, html);
            }
            map.fitBounds(bounds);
        }
      );
    }

    function bindInfoWindow(marker, map, infoWindow, html) {
      google.maps.event.addListener(marker, 'click', function() {
        infoWindow.setContent(html);
        infoWindow.open(map, marker);
      });
    }

    </script>

{% endblock head %}

{% block content %}

    <div id="map-canvas"></div>

{% endblock content %} 
