{% extends("EnfiCienciasDoAmbienteCommonEntitiesBundle::base.html.twig") %}

{% block content -%}
    <h1>Exibir Tipo de Lixo</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ entity.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manage_tipodelixo') }}" class="btn btn-info">Cancelar</a>
    <a href="{{ path('manage_tipodelixo_edit', { 'id': entity.id }) }}" class="btn btn-info"> Alterar </a>
    {{ form(delete_form) }}
</ul>
{% endblock %}
